body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-archivo: Archivo;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-sm: 14px;

  /* Colors */
  --color-lightsteelblue: rgba(199, 201, 221, 0.25);
  --color-white: #fff;
  --color-gray-100: #1e1e1e;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-black: #000;
  --color-lightslategray: #8a8fa9;
  --color-slateblue: #6065d7;
  --color-silver-100: #b5b5b5;
  --color-silver-200: rgba(181, 181, 181, 0.25);
  --color-yellowgreen: #80cd1f;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-5xs: 8px;

  /* border radiuses */
  --br-xl: 20px;
}
