<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="overview">
      <div class="live-stream-post">
        <img
          class="entypodots-three-vertical-icon"
          alt=""
          src="./public/entypodotsthreevertical.svg"
        /><img
          class="live-stream-post-child"
          alt=""
          src="./public/ellipse-2.svg"
        />
        <div class="user-name">User Name</div>
        <div class="post-time">Post Time</div>
        <div class="title-of-the">TItle of the Post</div>
        <section class="live-stream-post-item"></section>
        <img
          class="mditriangle-small-up-icon"
          alt=""
          src="./public/mditrianglesmallup.svg"
        />
        <div class="div">12</div>
        <img
          class="icon-park-outlinelike"
          alt=""
          src="./public/iconparkoutlinelike.svg"
        />
        <div class="div1">12</div>
        <img class="uilcomments-icon" alt="" src="./public/uilcomments.svg" />
        <div class="div2">12</div>
        <img
          class="icon-park-outlineshare-two"
          alt=""
          src="./public/iconparkoutlinesharetwo.svg"
        />
        <div class="div3">12</div>
        <img
          class="material-symbolsbookmark-outl-icon"
          alt=""
          src="./public/materialsymbolsbookmarkoutlinerounded.svg"
        />
        <div class="live-stream-post-inner"></div>
        <div class="tag-1">Tag 1</div>
        <div class="rectangle-div"></div>
        <div class="tag-2">Tag 2</div>
      </div>
      <div class="live-stream-post1">
        <img
          class="entypodots-three-vertical-icon"
          alt=""
          src="./public/entypodotsthreevertical.svg"
        /><img
          class="live-stream-post-child"
          alt=""
          src="./public/ellipse-2.svg"
        />
        <div class="user-name">User Name</div>
        <div class="post-time">Post Time</div>
        <div class="title-of-the">TItle of the Post</div>
        <div class="lorem-ipsum-dolor">
          Lorem ipsum dolor sit amet consectetur. Risus at imperdiet proin nulla
          adipiscing in pretium nunc. Morbi consequat quis fringilla est. Ornare
          urna placerat nunc pulvinar tellus vel sed. Amet lectus eu at mattis
          amet vel.
        </div>
        <img
          class="mditriangle-small-up-icon1"
          alt=""
          src="./public/mditrianglesmallup1.svg"
        />
        <div class="div4">12</div>
        <div class="div5">12</div>
        <div class="div6">12</div>
        <div class="div7">12</div>
        <img
          class="icon-park-outlinelike1"
          alt=""
          src="./public/iconparkoutlinelike1.svg"
        /><img
          class="uilcomments-icon1"
          alt=""
          src="./public/uilcomments1.svg"
        /><img
          class="icon-park-outlineshare-two1"
          alt=""
          src="./public/iconparkoutlinesharetwo1.svg"
        /><img
          class="material-symbolsbookmark-outl-icon1"
          alt=""
          src="./public/materialsymbolsbookmarkoutlinerounded.svg"
        />
        <div class="live-stream-post-inner"></div>
        <div class="tag-1">Tag 1</div>
        <div class="rectangle-div"></div>
        <div class="tag-2">Tag 2</div>
        <section class="rectangle-section"></section>
      </div>
      <div class="navigation-bar">
        <div class="esportsgen">EsportsGen</div>
        <img class="search-bar-icon" alt="" src="./public/search-bar.svg" /><img
          class="jammessages-f-icon"
          alt=""
          src="./public/jammessagesf.svg"
        /><img
          class="jammessages-f-icon"
          alt=""
          src="./public/icbaselinenotifications.svg"
        /><img
          class="navigation-bar-child"
          alt=""
          src="./public/ellipse-1.svg"
        /><img
          class="jammessages-f-icon"
          alt=""
          src="./public/materialsymbolsarrowdropdownrounded.svg"
        />
      </div>
      <div class="sidebar">
        <div class="material-symbolshome-parent">
          <img
            class="material-symbolshome-icon"
            alt=""
            src="./public/materialsymbolshome.svg"
          /><img
            class="material-symbolshome-icon"
            alt=""
            src="./public/healthiconsuiuserprofile.svg"
          /><img
            class="material-symbolshome-icon"
            alt=""
            src="./public/fluentpeopleteam24filled.svg"
          /><img
            class="material-symbolshome-icon"
            alt=""
            src="./public/jammessagesf1.svg"
          /><img
            class="material-symbolshome-icon"
            alt=""
            src="./public/mditrophy.svg"
          /><img
            class="material-symbolshome-icon"
            alt=""
            src="./public/icbaselineaddcircleoutline.svg"
          /><img
            class="material-symbolshome-icon"
            alt=""
            src="./public/materialsymbolssettings.svg"
          />
        </div>
        <div class="overview-parent">
          <div class="overview1">Overview</div>
          <div class="profile">Profile</div>
          <div class="profile">Teams</div>
          <div class="profile">Messages</div>
          <div class="profile">Tournaments</div>
          <div class="profile">Create</div>
          <div class="profile">Settings</div>
        </div>
      </div>
      <div class="chats">
        <div class="tournments-you-follow">Tournments you follow</div>
        <img class="chats-child" alt="" src="./public/ellipse-3.svg" /><img
          class="chats-item"
          alt=""
          src="./public/ellipse-3.svg"
        /><img class="chats-inner" alt="" src="./public/ellipse-3.svg" /><img
          class="chats-child1"
          alt=""
          src="./public/ellipse-3.svg"
        />
        <div class="team-name">Team Name</div>
        <div class="team-name1">Team Name</div>
        <div class="won-rounds-no">Won Rounds No.</div>
        <div class="won-rounds-no1">Won Rounds No.</div>
        <div class="won-rounds-no2">Won Rounds No.</div>
        <div class="won-rounds-no3">Won Rounds No.</div>
        <div class="team-name2">Team Name</div>
        <div class="team-name3">Team Name</div>
        <div class="tournament-name">Tournament Name , Schedule</div>
        <div class="tournament-name1">Tournament Name , Schedule</div>
      </div>
      <div class="chats1">
        <div class="your-chats">Your Chats</div>
        <img class="chats-child2" alt="" src="./public/ellipse-31.svg" /><img
          class="chats-child3"
          alt=""
          src="./public/ellipse-31.svg"
        /><img class="chats-child4" alt="" src="./public/ellipse-31.svg" /><img
          class="chats-child5"
          alt=""
          src="./public/ellipse-31.svg"
        /><img class="chats-child6" alt="" src="./public/ellipse-31.svg" />
        <div class="user-name-parent">
          <div class="message">User Name</div>
          <div class="message">Message</div>
        </div>
        <div class="user-name-group">
          <div class="message">User Name</div>
          <div class="message">Message</div>
        </div>
        <div class="user-name-container">
          <div class="message">User Name</div>
          <div class="message">Message</div>
        </div>
        <div class="frame-div">
          <div class="message">User Name</div>
          <div class="message">Message</div>
        </div>
        <div class="user-name-parent1">
          <div class="message">User Name</div>
          <div class="message">Message</div>
        </div>
      </div>
    </div>
  </body>
</html>
