<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./tournaments.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="tournaments2">
      <div class="profile-cover-pics-with-pers2">
        <img
          class="profile-cover-pics-with-pers-child2"
          alt=""
          src="./public/rectangle-3@2x.png"
        />
        <div class="profile-cover-pics-with-pers-child3"></div>
        <div class="tournament-name2">Tournament Name</div>
        <div class="no-of-teams">No. of Teams</div>
        <div class="free-private">Free/ Private</div>
        <div class="description1">Description</div>
        <div class="prize-pool">Prize Pool</div>
      </div>
      <div class="profile-cover-pics-with-pers3">
        <div class="participants-prize">Participants & Prize Pool</div>
        <div class="placerank">Place/Rank</div>
        <div class="first">First</div>
        <div class="second">Second</div>
        <div class="third">Third</div>
        <div class="fourth">Fourth</div>
        <div class="fifth">Fifth</div>
        <div class="region">Region</div>
        <div class="server-region">Server Region</div>
        <div class="server-region1">Server Region</div>
        <div class="server-region2">Server Region</div>
        <div class="server-region3">Server Region</div>
        <div class="server-region4">Server Region</div>
        <div class="points">Points</div>
        <div class="points1">Points</div>
        <div class="points2">Points</div>
        <div class="points3">Points</div>
        <div class="points4">Points</div>
        <div class="points5">Points</div>
      </div>
      <div class="navigation-bar2">
        <img
          class="navigation-bar-inner"
          alt=""
          src="./public/ellipse-1.svg"
        /><img
          class="material-symbolsarrow-drop-do-icon2"
          alt=""
          src="./public/materialsymbolsarrowdropdownrounded1.svg"
        /><img
          class="icbaseline-notifications-icon2"
          alt=""
          src="./public/icbaselinenotifications1.svg"
        /><img
          class="jammessages-f-icon4"
          alt=""
          src="./public/jammessagesf2.svg"
        /><img class="search-bar-icon2" alt="" src="./public/search-bar1.svg" />
        <div class="esportsgen2">EsportsGen</div>
      </div>
      <div class="sidebar2">
        <div class="settings2">Settings</div>
        <img
          class="material-symbolssettings-icon2"
          alt=""
          src="./public/materialsymbolssettings.svg"
        />
        <div class="create3">Create</div>
        <img
          class="icbaseline-add-circle-outline-icon2"
          alt=""
          src="./public/icbaselineaddcircleoutline2.svg"
        />
        <div class="tournaments3">Tournaments</div>
        <img class="mditrophy-icon2" alt="" src="./public/mditrophy2.svg" />
        <div class="messages2">Messages</div>
        <img
          class="jammessages-f-icon5"
          alt=""
          src="./public/jammessagesf3.svg"
        />
        <div class="teams2">Teams</div>
        <img
          class="fluentpeople-team-24-filled-icon2"
          alt=""
          src="./public/fluentpeopleteam24filled1.svg"
        />
        <div class="profile2">Profile</div>
        <img
          class="healthiconsui-user-profile2"
          alt=""
          src="./public/healthiconsuiuserprofile1.svg"
        />
        <div class="overview3">Overview</div>
        <img
          class="material-symbolshome-icon2"
          alt=""
          src="./public/materialsymbolshome1.svg"
        />
      </div>
      <div class="chats4">
        <div class="active-teams">Active Teams</div>
        <img class="chats-child12" alt="" src="./public/ellipse-31.svg" /><img
          class="chats-child13"
          alt=""
          src="./public/ellipse-31.svg"
        /><img class="chats-child14" alt="" src="./public/ellipse-31.svg" />
        <div class="team-name4">Team Name</div>
        <div class="team-name5">Team Name</div>
        <div class="team-name6">Team Name</div>
        <div class="position">Position</div>
        <div class="position1">Position</div>
        <div class="position2">Position</div>
      </div>
      <div class="chats5">
        <div class="upcoming-matches">Upcoming Matches</div>
        <img class="chats-child15" alt="" src="./public/ellipse-3.svg" /><img
          class="chats-child16"
          alt=""
          src="./public/ellipse-3.svg"
        /><img class="chats-child17" alt="" src="./public/ellipse-3.svg" /><img
          class="chats-child18"
          alt=""
          src="./public/ellipse-3.svg"
        />
        <div class="team-name7">Team Name</div>
        <div class="team-name8">Team Name</div>
        <div class="date-time">Date & Time Schedule</div>
        <div class="date-time1">Date & Time Schedule</div>
        <div class="team-name9">Team Name</div>
        <div class="team-name10">Team Name</div>
        <div class="tournament-name-stage">Tournament Name, Stage</div>
        <div class="tournament-name-stage1">Tournament Name, Stage</div>
      </div>
    </div>
  </body>
</html>
